
body {
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('meetup.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.header {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  color: white;
}

.allStarred{
  padding: 10px;
  width: 30%;
  margin: auto;
  background: white;
  border-radius: 10px;
  opacity: .9;
}

.mymeetups {
  text-align: center;
  margin-bottom: 30px;
}

.eventName {
  font-weight: bold;
}

.starred,
.unstarred {
  background-image: url('../Image/star.gif');
  background-repeat: no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.starred {
  background-position: 0 0;
}

.unstarred {
  background-position: -22px 0;
}

.memberCheck {
  color: white;
}

.link {
  color: white;
  text-decoration: underline;
}

label {
  color: white;
  font: ;
}

.logout {
  float: right;
  margin-right: 15px;
  color: white;
}
.feed {
  background-color: white;
  border-radius: 20px;
  margin-right: 20%;
  margin-left: 20%
}
