
.header {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 30px;
}

.allStarred {
  width: 50%;
  margin: auto;
  /*border: 2px solid black;*/
}

.mymeetups {
  text-align: center;
  margin-bottom: 40px;
}

.eventName {
  font-weight: bold;
}
