
.header {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 30px;
}

.starred,
.unstarred {
  background-image: url('../Image/star.gif');
  background-repeat: no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.starred {
  background-position: 0 0;
}

.unstarred {
  background-position: -22px 0;
}
